# SmartFlow Simulation Mode ('websocket' or 'mock')
NEXT_PUBLIC_SIMULATION_MODE=websocket

# WebSocket Simulation Telemetry & TraCI Control Server
NEXT_PUBLIC_WS_URL=ws://127.0.0.1:8765/ws

# SUMO-GUI noVNC WebSocket Bridge URL
NEXT_PUBLIC_VNC_WS_URL=ws://localhost:6080
